/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

.slider {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
  
  .sliderImg {
    display: block;
    width: 100%;
  }
  